body {
  font-family: 'Roboto', sans-serif; }

.logo-reformed {
  font-size: 1.75em;
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive; }

.pricing-block {
  background-color: #fafcff;
  padding-top: 40px;
  padding-bottom: 40px; }

.pricing-header {
  padding: 70px; }

.custom-button {
  border-radius: 8px;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-right: 30px;
  transition: all .3s;
  height: auto;
  cursor: pointer;
  transition-property: all;
  transition: 0.25s; }

.custom-button:hover {
  background: #00c4a7; }

.top-section {
  background: #f1f1f1;
  background: url(../images/bg4.jpg) no-repeat;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 20rem; }
  .top-section .title {
    padding: 41px 40px;
    font-weight: 600;
    color: inherit;
    font-family: inherit; }
  .top-section h2 {
    line-height: 28px !important; }

.frame {
  background: url(../images/fluid-footer.png) no-repeat;
  background-size: cover;
  height: 200px;
  background-color: #fafcff; }

.footer-bg {
  background-color: #D0DADF !important;
  padding-bottom: 40px; }

.footerbg {
  background-color: #F2F2F2;
  fontFamily: 'Acumin Pro Bold'; }
  .footerbg .ftitle {
    font-size: 16px;
    color: #000;
    font-weight: 700; }
  .footerbg .scont {
    text-align: left;
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 30px; }
    .footerbg .scont a {
      color: blue;
      font-size: 14px;
      font-weight: normal;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      transition: .3s; }
    .footerbg .scont .socialicon {
      margin-right: 5px; }
    .footerbg .scont .footer-logo {
      vertical-align: middle;
      width: 100px;
      margin-top: 20px; }
      @media screen and (max-width: 700px) {
        .footerbg .scont .footer-logo {
          display: block; } }
  .footerbg ul.footerlist li {
    line-height: 37px; }
    .footerbg ul.footerlist li a {
      color: #666666;
      text-decoration: none;
      font-weight: normal;
      margin: -4px; }
  .footerbg .pnr {
    font-size: 30px;
    color: #00c4a7;
    font-weight: 300; }
  .footerbg .field {
    margin-top: 10px;
    margin-bottom: 30px; }

.footer {
  background: #000;
  padding: 20px;
  color: #fff; }

.spinner {
  width: 20px;
  height: 20px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  left: 45%; }
  .spinner:before, .spinner:after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%; }

.spinner-pulse:before, .spinner-pulse:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: #00d1b2;
  animation: pulse 3s linear infinite;
  opacity: 0; }

.spinner-pulse:after {
  animation: pulse 2s linear 2.3s infinite; }

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }

.animation-plus {
  position: relative; }
  .animation-plus .circle {
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: #D0DADF;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: background 1s, transform 0.3s; }
    .animation-plus .circle:hover {
      background: #00c4a7;
      transform: rotate(360deg);
      animation-name: showbox;
      animation-duration: 3s; }
    .animation-plus .circle:hover .line {
      visibility: visible; }
    .animation-plus .circle .condition-text {
      font-size: 10px; }
  .animation-plus .line {
    border-left: 2px solid  #D0DADF;
    height: 80px;
    position: absolute;
    text-align: center;
    top: 98%;
    left: 50%;
    visibility: hidden;
    z-index: 1; }

.box-message {
  height: 80px;
  position: absolute;
  text-align: center;
  top: 107%;
  left: 25%;
  /* padding: 39px; */
  width: 50%;
  background: #fff;
  text-align: center;
  box-sizing: border-box; }

@keyframes showbox {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.bird-animation {
  position: absolute;
  animation-name: fly;
  animation-direction: normal;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  top: 140%; }
  .bird-animation img {
    width: 100px; }

@keyframes fly {
  0% {
    left: -200px;
    animation-direction: 20s;
    transform: scale(1); }
  10% {
    left: 10%;
    animation-direction: 30s;
    top: 100%;
    transform: scale(1); }
  50% {
    left: 50%;
    animation-direction: 200s;
    top: 135%;
    transform: scale(2); }
  70% {
    left: 100%;
    top: 100%;
    transform: scale(0.5); }
  90% {
    transform: scale(0.2); }
  100% {
    left: 200%;
    top: 100%;
    transform: scale(0.1); } }

.group-bird {
  position: absolute;
  top: 100%;
  animation-name: group;
  animation-direction: normal;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }

@keyframes group {
  0% {
    opacity: 1;
    left: -200px; }
  100% {
    opacity: 0;
    left: 1000%; } }
